#zdjecie_logowanie {
    height: 75px;
    width: 75px;
    text-align: center;
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 27%;
    left: 72%;
}
#logowanie_eh  {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 30%;
    left: 45%;
    border: 1px solid rgb(160, 181, 197) ;
    width: 500px;
    height: 500px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;

}
#logowanie {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 45%;
    left: 64%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#logowanie_u {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 55%;
    left: 35%;
    width: 200px;
    height: 30px;
}

#logowanie_h {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 65%;
    left: 35%;
    width: 200px;
    height: 30px;
}
#logowanie_h1 {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 75%;
    left: 35%;
    width: 200px;
    height: 30px;
}
#logowanie_n {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 75%;
    left: 84%;
    width: 200px;
    height: 30px;
}
#logowanie_d {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 85%;
    left: 35%;
    width: 202px;
    height: 30px;
}

#logowanie_e {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 55%;
    left: 84%;
    width: 200px;
    height: 30px;
}

 #logowanie_s{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 65%;
    left: 84%;
    width: 200px;
    height: 30px;
 }

 #przycisk_dalej_logowanie {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 100%;
    left: 70%;
    width: 100px;
    height: 30px;
}

#private_user{
    position: absolute;
    left: 3%;
    top: 92%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}
#masz_konto{
    position: absolute;
    left: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}

#blad_username{
    position: absolute;
    left: 5%;
    top: 40%;
    font-size: x-small;
    color: red;
}
#blad_password{
    position: absolute;
    left: 5%;
    top: 50%;
    font-size: x-small;
    color: red;
}
#blad_password_powtorz{
    position: absolute;
    left: 5%;
    top: 60%;
    font-size: x-small;
    color: red;
}
#blad_email{
    position: absolute;
    left: 54%;
    top: 40%;
    font-size: x-small;
    color: red;
}

#form_checkbox{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 85%;
    left: 84%;
    width: 200px;
    height: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
}

#blad_nazwisko{
    position: absolute;
    left: 54%;
    top: 50%;
    font-size: x-small;
    color: red;
}

#blad_imie{
    position: absolute;
    left: 54%;
    top: 60%;
    font-size: x-small;
    color: red;
}