/* body{
    background: linear-gradient(#eda909, #8CE0EB);
} */

#menu{
    width: 80vw;
    height: 90vh;
    border: 1px solid black;
    margin: 2px 0 0 2px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    float: left;

    background-color: whitesmoke;
    
}
#rej_zdjecie_pg{
    width: 20px;
    height: 20px;
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 14%;

    left: 82%;
    
}
#text_zdj_rej_pg{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 14%;
    left: 84%;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#asystent_menu{
    width: 17vw;
    height: 90vh;
    border: 1px solid black;
    margin: 2px 0 0 2px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    top: 10%;
    left: 100%;
    float: right;
    background-color: whitesmoke;

}

#text_menu{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 14%;
    left: 18%;
    width: 8vw;
    height: 1vw;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#text_small_menu{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 15%;
    left: 23%;
    width: 10vw;
    height: 1vw;
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#search_menu{
    position: absolute;
    width: 20vw;
    height: 35px;
    top: 3%;
    left: 30%;
    background-color: white;

}

#bttn_search{
    position: absolute;
    width: 5vw;
    height: 35px;
    top: 3%;
    left: 51%;
    background-color: white;

}
#asystent_title{
    position: absolute;
    width: 18vw;
    height: 5vh;
    margin: -100px 0 0 -150px;
    top: 13%;
    left: 96%;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#wiadomosci_asystent{
    border: 1px solid black;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;
    width: 16vw;
    height: 84vh;
    top: 6%;
    left: 83%;
    position: absolute;
    background-color: white;

}


#menu_specjalisci{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 19%;
    left: 16%;
    width: 8vw;
    height: 1vw;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu_wleki{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 19%;
    left: 30%;
    width: 8vw;
    height: 1vw;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu_dtowary{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 19%;
    left: 44%;
    width: 8vw;
    height: 1vw;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu_nasz_sklep{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 19%;
    left: 58%;
    width: 8vw;
    height: 1vw;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu_onas{
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 19%;
    width: 8vw;
    height: 1vw;
    left: 72%;
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.open-button {
  background-color: rgba(99, 99, 99, 0.727);
  color: black;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: absolute;
  top: 3%;
  left: 71%;
  width: 7vw;
  height: 4vh;
  background-color: white;
  border: 2px solid black;

}
.form-popup {
  display: none;
  position: fixed;
  top: 8%;
  left: 63%;
  height: 53vh;
  width: 19vw;
  border: 3px solid #f1f1f1;
  z-index: 9;

  
}
.form-container {
  padding: 10px;
  background-color: white;
  max-height: 500px;
  margin-bottom:180px;
  border-end-end-radius: 10px;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
  border-start-end-radius: 10px;
  height: 50vh;
  width: 18vw;
}
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top:380px;
}
.form-container .cancel {
  background-color: red;
  color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:380px;
}
#linia_menu_dolna{
    width: 77vw;
    height: 0.1vh;
    border: 1px initial gray;
    top: 11%;
    left: 2%;
    position: absolute;
    background-color: grey;
}
#linia_menu_gorna{
    width: 77vw;
    height: 0.1vh;
    border: 1px initial gray;
    top: 8%;
    left: 2%;
    position: absolute;
    background-color: grey;
}

.font{
    top: 15%;
    left: 2%;
    position: absolute;
    width: 70vw;
}

#czcionka_button{
    font-size: small;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 2%;
    left: 64%;
    width: 5vw;
}



#bttn1{
    top: 5%;
    left: 63%;
    position: absolute;
    width: 2vw;
    height: 2vh;
    background-color: white;
}

#bttn2{
   
    position: absolute;
    width: 2vw;
    height: 2vh;
    left: 66%;
    top: 5%;
    background-color: white;
}

#bttn_off{
    top: 85%;
    left: 2%;
    position: absolute;
 
}

#asys_outdiv{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

