.logo{
    width: 250px;
}

.q{
	grid-area: q;
	margin: 5px;
    padding: 5px;
}
.navigation{
	border: 1px solid black;
	grid-area:w;
    background-color: aquamarine;
    height: 50px;
	margin: 5px;
    margin-top: 30px;
    border-radius: 40px;
    position: sticky;
    top: 0px;
    z-index: 10;    /*żeby motto z baneru nie wchodziło na navigacje*/
}
/* css do górnego menu */
.wybierz_asys{
	grid-area: asys;
}
.dane1{
	grid-area: dane1;
}
.dane2{
	grid-area: dane2;
}
.wyloguj{
	grid-area: wylog;
}
.menu_wrap{
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 80px;
	grid-template-areas:
		"asys dane1 dane2 wylog"
}

/* do nawigaacji */
.spec{
    grid-area: spec;
}
.towar{
    grid-area: towar;
}
.sklepy{
    grid-area: sklepy;
}
.my{
    grid-area: my;
}
.navigation ul {

	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 80px;
	grid-template-areas:
		"spec towar sklepy my"
}
.navigation ul li {
	display: inline-block;
}
.navigation ul li a {
	color: black;
	font-weight: bold;
	font-size: 15px;
}

.navigation ul li a:hover {
	color: black;
	font-size: 22px;
}
/* Koniec nawigacji */

/* baner */
.baner {

	grid-area: baner;
	border-radius: 10px;
	margin-top: 50px;
	margin-bottom: 50px;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../zdjecia/baner.jfif');
	background-size: cover;
	background-attachment: fixed;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 10px;
	grid-template-areas:
		"pusteh2 h2 h2 pusteh2_1";
}

.pusteh2 {
	grid-area: pusteh2;
}

.baner h2 {
	grid-area: h2;
	text-align: center;
	font-size: 35px;
	letter-spacing: 1px;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	top: 20px;

}

.pusteh2_1 {
	grid-area: pusteh2_1;
}

.puste3 {
	grid-area: puste3;
}
/* koniec baneru */

/* asytenci */
.opis1{
	grid-area: o1;
}
.zdj1{
	grid-area: z1;
}
.opis2{
	grid-area: o2;
}
.zdj2{
	grid-area: z2;
}
.opis3{
	grid-area: o3;
}
.zdj3{
	grid-area: z3;
}
.spec_wrap{
	display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 50px 540px; */
    grid-template-areas: 
        "o1 z1" /*100*/
        "o2 z2" /*110*/
		"o3 z3"
}
.spec_wrap h3{
	margin-top: 20px;
}
/* koniec asystentów */
/* css do leków */
.lek1{grid-area: lek1;}
.lek2{grid-area: lek2;}
.lek3{grid-area: lek3;}
.lek4{grid-area: lek4;}
.lek5{grid-area: lek5;}
.lek6{grid-area: lek6;}
.lek7{grid-area: lek7;}
.lek8{grid-area: lek8;}
.lek9{grid-area: lek9;}
.lek10{grid-area: lek10;}
.lek11{grid-area: lek11;}
.lek12{grid-area: lek12;}
.zdj1{grid-area: zdj1;}
.zdj2{grid-area: zdj2;}
.zdj3{grid-area: zdj3;}
.zdj4{grid-area: zdj4;}
.zdj5{grid-area: zdj5;}
.zdj6{grid-area: zdj6;}
.zdj7{grid-area: zdj7;}
.zdj8{grid-area: zdj8;}
.zdj9{grid-area: zdj9;}
.zdj10{grid-area: zdj10;}
.zdj11{grid-area: zdj11;}
.zdj12{grid-area: zdj12;}

.dtowary{
	margin-top: 30px;
    padding-top: 40px;

	display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: 50px 540px; */
    grid-template-areas: 
        "lek1 zd1" 
        "zd2 lek2"
		"lek3 zd3" 
        "zd4 lek4"
		"lek5 zd5" 
        "zd6 lek6"
		"lek7 zd7" 
        "zd8 lek8"
		"lek9 zd9" 
        "zd10 lek10"
		"lek11 zd11" 
        "zd12 lek12" 
}
.e{
	border: 1px solid black;
	grid-area:e;
	margin: 5px;
}
.u{
	border: 1px solid black;
	grid-area:u;
	margin: 5px;
}
.i{
	border: 1px solid black;
	grid-area:i;
	margin: 5px;
	background-color: aqua;
    padding: 15px;
}
.specjalisci{
    padding-top: 60px;
}

.mapa{
    margin-top: 60px;
}
/* czat */
.o{
	border: 1px solid black;
	grid-area: o;
	margin: 5px;

	position: sticky;
	top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 540px;
    grid-template-areas: 
        "gora gora gora gora" /*100*/
        "dol dol dol dol" /*110*/
}
.gora{
    grid-area: gora;
    background-color: antiquewhite;
}
.dol{
    grid-area: dol;
    background-color:blue;
}
.p{
	border: 1px solid black;
	grid-area: p;
	margin: 5px;
    background-color: black;
    border-radius: 40px ;
}

.my{
    grid-area: my;
    
}
.pp{
	grid-area:pp;
	margin:5px;
}
/* .nagore{
    width: 40px;
    height: 40px;
    background-color: burlywood;
    position: sticky;
    top: 660;
    
} */
 .wrapper{
	 display: grid;
	 grid-template-columns: 1fr 1fr 1fr 1fr;
	 grid-template-rows: 100px 110px 600px 800px 800px 800px 100px 100px;
	 grid-template-areas: 
		 "q q q q" /*100*/
		 "w w w w" /*110*/
		 "baner baner baner baner" /*600*/
		 "i i i o" /*600*/ 
		 "i i i pp" /*600*/
         "i i i pp" /*600*/
         "my my my pp" /*100*/
		 "p p p p" /*100*/
}