#zdjecie_rejestracja {
    height: 75px;
    width: 75px;
    text-align: center;
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 35%;
    left: 72%;
}
#rejestracja_eh {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 30%;
    left: 45%;
    border: 1px solid rgb(160, 181, 197) ;
    width: 500px;
    height: 500px;
    border-end-end-radius: 10px;
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
    border-start-end-radius: 10px;

}
#Rejestracja {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 55%;
    left: 64%;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#rejestracja_e {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 70%;
    left: 55%;
    width: 250px;
    height: 30px;
}

#rejestracja_h {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 80%;
    left: 55%;
    width: 250px;
    height: 30px;
}

#przycisk_dalej_rejestracja {
    position: absolute;
    margin: -100px 0 0 -150px;
    top: 90%;
    left: 72%;
    width: 100px;
    height: 30px;
}
 
#masz_konto{
    position: absolute;
    left: 70%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
}
